body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    position: relative;
    background-image: url('https://devopsjournal.io/images/2021/20211204/20211204_dev_to_hackathon.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
    color: white;

}

.nav-bar{
    position: absolute;
    top: 0;
    width: 97%;
    background: #424242;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0 10px;
}

.nav-bar a:hover{
    text-decoration: underline;
    color: rgb(186, 162, 7);
}

.banner-heading{
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000;
    top: 60%;
    left: 20%;
}